.tee-name{
margin-top: 20px;
}
.thumb-img {
padding-bottom: 5px;
}
.rate{
padding-bottom: 5px;
}
.qty input{
margin-bottom: 10px;
}
.addtocart{
margin-bottom: 30px;
}
.maincontent{
padding-top: 10px;
padding-bottom:100px;
}